.be-fe-comments-fold-handle {
    font-style:  italic;
    margin-left: 21px;
}

.be-fe-comment-folded { display: none; }

.be-fe-comments-expanded {
    .be-fe-comment-folded { display: block; }
    .be-fe-comments-fold-handle { display: none; }

}