.be-fe-in-comments-link {
    font-style:  italic;
    margin-left: 21px;
}

.be-fe-comments-fold-handle {
    .be-fe-in-comments-link();
}

.be-fe-comment-folded { display: none; }

.be-fe-comments-expanded {
    .be-fe-comment-folded { display: block; }
    .be-fe-comments-fold-handle { display: none; }

}

.be-fe-comment-hl {
    background-color: #def;
}

.be-fe-ups {
    display:       inline-block;
    background:    #eee;
    padding:       0 0.25em;
    border-radius: 0.25em;
    cursor:        default;
}

.p-attachment-url {
    position: relative;
    display:  inline-block;

    &.be-fe-gif-ani::after {
        content:          "▶ GIF";
        position:         absolute;
        bottom:           3px;
        right:            4px;
        background-color: #069;
        color:            #eee;
        font-weight:      bold;
        padding:          0.1em 0.4em;
        border-radius:    3px;
        font-size:        11px;
    }
}

.be-fe-settingsLink {
    .fa { display: none; }

    &.be-fe-have-upgrade .fa {
        display:     inline;
        color:       rgb(255, 77, 0);
        margin-left: 0.2em;
    }
}

.be-fe-from-whom {
    font-size: 13px;
}

.be-fe-hide-aliens-switcher {
    float:     right;
    font-size: 13px;

    label {
        font-weight: normal;
    }
}

.be-fe-hide-aliens .be-fe-post-from-alien {
    display: none;
}

.downWin() {
    position:      absolute;
    left:          50%;
    transform:     translateX(-50%);
    white-space:   nowrap;
    background:    #fff;
    box-shadow:    0 3px 10px rgba(0, 0, 0, 0.5);
    top:           1em;
    padding:       1em 1em .5em;
    border-radius: 2px;
    border:        1px solid #999;
    margin-top:    10px;
    z-index:       10;

    &::before, &::after {
        content:       "";
        position:      absolute;
        top:           -10px;
        left:          50%;
        border-bottom: 10px solid #999;
        border-left:   10px solid transparent;
        border-right:  10px solid transparent;
        margin-left:   -10px;
    }

    &::after {
        top:           -9px;
        border-bottom: 10px solid white;
    }
}

// Hide

.be-fe-hide-cont {
    position: relative;
}

.be-fe-hide-win {
    .downWin();

    ul {
        padding-left: 1.2em;
    }

    li {
        margin-bottom: 0.5em;
    }
}

.be-fe-bottom-comment-link {
    .be-fe-in-comments-link();

    .comment + & { display: none; }

    &:first-child { display: none; }
}

.be-fe-add-comment-block {
    &:first-child,
    .comment + &,
    .add-comment-block + & { display: none; }

    .add-comment-link {
        font-style:  italic;
        margin-left: 6px;
    }

    .fa-stack {
        float:       left;
        width:       1em;
        height:      1em;
        line-height: 1em;
    }

    .fa-plus,
    .fa-square {
        font-size: 60%;
        top:       3px;
        left:      3px;
    }

    .fa-plus {
        top:  4px;
        left: 4px;
    }
}

.be-fe-userinfo-wrapper {
    position: relative;
}

.be-fe-userinfo-win {
    .downWin();
    min-width:   17em;
    font-size:   13px;
    line-height: 16px;
}

.be-fe-userinfo-pic {
    float:         left;
    border:        1px solid #999;
    margin-bottom: 0.5em;
    width:         75px;
    height:        75px;
}

.be-fe-userinfo-info {
    margin-left: 88px;
    position:    relative;
    height:      77px;
}

.be-fe-userinfo-screenName {
    font-weight: bold;
}

.be-fe-userinfo-userName {
    font-family: consolas, menlo, monaco, monospace;
    font-size:   12px;
}

.be-fe-userinfo-relation {
    font-style: italic;
    position:   absolute;
    bottom:     0;
    left:       0;
    font-size:  12px;
}